.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 75px;
  pointer-events: none;
}

.App-header {
  background-color: #374258;
  height: 85px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > div {
  margin: 10px;
  display: flex;
  align-items: baseline;
}

.App-header > div > h2 {
  margin: 0;
  padding-right: 10px;
}

.App-header > div > span {
  font-size: 18px;
}

.App-link {
  color: #61dafb;
}

.body {
  margin: 15px;
}

ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #374258, #1b588a);
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #2e3749;
}

nav button {
  margin-top: 13px;
}
