/* http://jsfiddle.net/oyvhm4p0/ */

.ck.ck-toolbar {
    /* Make sure the toolbar container is always above the editable. */
    z-index: 1;

    /* Create the illusion of the toolbar floating over the editable. */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.2 );

    /* Use the CKEditor CSS variables to keep the UI consistent. */
    border-bottom: 1px solid var(--ck-color-toolbar-border);
}

.ck.ck-editor__editable {
    padding: 1cm 2cm 2cm;
    border: 1px hsl(0, 0%, 82.7%) solid;
    border-radius: var(--ck-border-radius);

    /* The "page" should cast a slight shadow (3D illusion). */
    /*box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );*/

    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 20px auto 100px auto;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    overflow: visible;
}

/* Set the default font for the "page" of the content. */
.ck.ck-editor__editable .ck-content,
.ck.ck-toolbar .ck-heading-dropdown .ck-list .ck-button__label{
    font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}