.button {
  padding: 5px;
  margin: 15px 5px 5px 5px;
  width: 75px;
  height: 25px;
  background-color: #1b588a;
  color: white;
}

.CKEditor {
  margin: auto;
  width: 1000px;

  padding: calc( 2 * var(--ck-spacing-large) );
  /*background: var(--ck-color-base-foreground);*/
  background: rgb(204,204,204);
}
